@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link href="#" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h1>Bem Vindo!</h1>
    </div>

    <div class="text-center">
        <h1 style="font-size: 25px">Quem sou eu?</h1>
        <img src="~/Img/MinhaImagemP.jpeg" alt="Minha Imagem de Perfil" />
        <br />
        <br />
        <p>Meu nome é <b>Eduardo Eckert Sperfeld</b>, estou estudando programação desde 2019, atualmente cursando Sitemas da Informação na instituição Uniasselvi e C# ASP.Net através do programa Entra21.</p>
    </div>

    <div>
        <h1 style="font-size: 25px">Como falar comigo?</h1>
        <ol>
            <li style="list-style-type:circle"><img src="~/Img/icone-linkedin.png" alt="linkedin icone" /><a href="https://www.linkedin.com/in/eduardo-eckert-9432b61b1/" target="_blank">/Eduardo-Eckert</a> - Meu perfil no Linkedin</li>
            <li style="list-style-type:circle"><img src="~/Img/icone-github.png" alt="gitHub icone" /><a href="https://github.com/EduardoEckert" target="_blank">/EduardoEckert</a> - Meu perfil no Git Hub</li>
            <li style="list-style-type:circle"><img src="~/Img/icone-twitter.png" alt="twitter icone" /><a href="https://twitter.com/EDUARD0ECKERT" target="_blank">/EDUARD0ECKERT</a> - Me segue lá no Twitter</li>
            <li style="list-style-type:circle"><img src="~/Img/icone-instagram.png" alt="instagram icone" /><a href="https://www.instagram.com/edueckert_/" target="_blank">/edueckert</a> - Meu perfil no Instagram</li>
            <li style="list-style-type:circle"><img src="~/Img/icone-curriculo.png" alt="instagram icone" /><a href="../wwwroot/Download/Eduardo Eckert Sperfeld. - Copia.pdf" download="Eduardo Eckert Curriculo" target="_blank">/Clique Aqui!</a> - Meu currículo</li>
        </ol>
    </div>
</body>

